$ui-base-color: #ffe4c3;
$ui-base-lighter-color: #e4b479;
$ui-primary-color: #321c00;
$ui-secondary-color: #8e6a3d;
$ui-highlight-color: #ed9828;
$primary-text-color: #321c00;
$inverted-text-color: #321c00;

@import 'application';

