.button, .admin-wrapper .sidebar ul .simple-navigation-active-leaf a  {
    background-color: #ed9828;
}
.button.logo-button, simple_form .block-button, .simple_form .button, .simple_form button {
    background: #ed9828;
}
.column-link--transparent.active {
    color: #ed9828;
}

.button:active, .button:focus, .button:hover, .admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover, .simple_form .block-button:hover, .simple_form .button:hover, .simple_form button:hover {
    background-color: #a4661b;
}
.button.logo-button:active, .button.logo-button:focus, .button.logo-button:hover {
    background: #a4661b;
}
